.cost_table-section table {
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
}

.cost_table-section p {
    margin-bottom: 20px !important;
}

.cost_table-section p:last-child {
    margin-bottom: 0 !important;
}

.vertical-table td {
    border: 1px solid;
    border-color: #dbdbdb;
}

.vertical-table td:first-child {
    border: 1px solid;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 30px;
    border-color: #dbdbdb;
}

.vertical-table td:last-child {
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 30px;
    border-color: #dbdbdb;
}

@media (max-width: 1024px) {
    .cost_table-section table {
        min-width: 560px;
    }

    .cost_table-body {
        overflow-x: scroll;
    }
}

.horizontal-table {
    border-collapse: collapse;
    margin-bottom: 25px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
}

.horizontal-table p {
    margin-bottom: 10px !important;
}

.horizontal-table td {
    width: 50%;
    padding: 10px 20px 10px 30px;
}

.horizontal-table tbody>tr:nth-child(even)>td {
    background-color: #4C2600;
    color: #ffff;
}