.upcoming-event {
    display: flex;
    justify-content: space-between;
}

.upcoming-item {
    position: relative;
}

.event-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}