/* import font */
@font-face {
    font-family: 'PT Sans Regular';
    src: url('../fonts/pt-sans/PTSans-Regular.ttf');
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/pt-sans/PTSans-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

body.custom-background {
    background-position-y: 132px;
    background-color: rgba(239, 239, 239, 0.85) !important;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 0 !important;
}

.elementor-widget-text-editor h1 {
    margin-bottom: 25px;
}

.elementor-widget-text-editor h2 {
    margin-bottom: 15px;
}

.elementor-widget-text-editor h3 {
    margin-bottom: 15px;
}

.elementor-widget-text-editor h4, .elementor-widget-text-editor h5 {
    padding-bottom: 10px;
}

.elementor-widget-text-editor img {
    border-radius: 30px;
    width: 100%;
}

.custom-p-tags p {
    margin-bottom: 20px;
}

.custom-p-tags p:last-child {
    margin-bottom: 0;
}

.featured-btn {
    overflow: hidden;
    max-height: 0;
}

.featured-btn a {
    transform: translateY(200%);
    overflow: hidden;
    transition: all 0.3s;
}

.featured-box:hover .featured-btn {
    max-height: initial !important;
}

.featured-box:hover .elementor-button-link {
    transform: initial !important;
}

.box_section-btn .elementor-button-link {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    width: 100%;
}

.elementor-widget-text-editor ul, .elementor-widget-text-editor ol {
    margin-left: 65px;
    list-style: none;
    padding: 0;
    line-height: 222%;
    margin-top: 40px;
    margin-bottom: 56px;
}

.elementor-widget-text-editor a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.elementor-widget-text-editor li:before {
    content: "\f00c";
    font-family: 'evo_FontAwesomeS';
    display: inline-block;
    width: 1.5em;
    color: #4CAF50;
    font-size: 16px;
    font-weight: 900;
}

@media (max-width: 767px) {
    .elementor-widget-text-editor ul, .elementor-widget-text-editor ol {
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.elementor-widget-text-editor .tablepress {
    margin-bottom: 30px;
}

.tablepress {
    border-collapse: initial !important;
}

.tablepress td {
    vertical-align: middle;
}

.tablepress .odd td {
    background-color: transparent !important;
}

.tablepress .even td {
    background-color: #4C2600 !important;
    color: #ffff !important;
}

.tablepress td {
    padding: 10px 20px 10px 30px !important;
}

.tablepress .row-hover tr:hover td {
    background-color: #dddd !important;
}

.tablepress thead th {
    background-color: #4C2600 !important;
    color: #ffff !important;
    padding: 30px 20px 20px 30px !important;
    text-transform: uppercase;
}

.tablepress thead th:first-child {
    border-top-left-radius: 30px
}

.tablepress thead th:last-child {
    border-top-right-radius: 30px
}

.tablepress tbody td {
    border: 1px solid #dddd;
}

.tablepress tbody tr:first-child td {
    border-top: 1px solid #dddd !important;
}

.tablepress tbody tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}

.tablepress tbody tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

.tablepress#tablepress-7 tbody tr:first-child td:first-child {
    border-top-left-radius: 30px;
}

.tablepress#tablepress-7 tbody tr:first-child td:last-child {
    border-top-right-radius: 30px;
}