/* custom layout Info EventON */
#content-single-event .bradfield-event-date{
  font-family: 'Roboto Medium';
}
#content-single-event .bradfield-event-date .evcal_cblock {
  margin: 0;
}
#content-single-event .bradfield-event-date .desc_trig,
#content-single-event .bradfield-event-date .evocard_row,
#content-single-event .bradfield-event-date .evo_metarow_time,
#content-single-event .bradfield-event-date .evo_metarow_organizer
{
  padding: 0;
}
#content-single-event .bradfield-event-thumbnail .desc_trig_outter,
#content-single-event .event-detail .desc_trig_outter,
#content-single-event .bradfield-event-date .evcal_desc,
.bradfield-event-date .event_description .evo_h3,
.bradfield-event-date .event_description .evcal_evdata_icons
{
  display: none!important;
}

#content-single-event{
  max-width: 100%;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
}
#content-single-event .event-info-block{
  padding: 50px 50px 35px 50px;
}
.event-info-heading{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.event-info-heading .event-title{
  font-family: 'PT Sans Bold';
  font-size: 36px;
  line-height: 167%;
  font-weight: 700!important;
  margin: 0;
}
.event-info-heading #event-btn-buy-ticket{
  padding: 16px 34px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background: #4CAF50;
  border-radius: 10px;
  height: fit-content;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-family: 'PT Sans Bold';
}
.event-info-heading #event-btn-buy-ticket:hover{
  text-decoration: underline;
}
.bradfield-event-date .evocard_row{
  align-items: center;
}

.bradfield-event-date .evocard_box.repeats{
  margin-right: 0;
}
.bradfield-event-date .repeats .evcal_evdata_row{
  padding: 30px 0 0 0;
}
.bradfield-event-date .repeats .evcal_evdata_row::before{
  content: "Event repeats";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: 'PT Sans Bold';
  color: #444;
}
.bradfield-event-date .repeats .evo_repeat_series_dates span{
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Roboto", Roboto;
}
.bradfield-event-date .desc_trig_outter{
  display: none!important;
}
.bradfield-event-date .eventon_list_event {
  margin-bottom: 0!important;
}
.bradfield-event-date .ajde_evcal_calendar {
  padding-bottom: 0;
}
.bradfield-event-date .desc_trig{
  width: fit-content!important;
  background-color: transparent!important;
}
.bradfield-event-date .desc_trig:hover{
  border-left-width: 0!important;
}
.bradfield-event-date .event_description .evo_eventcard_time_t::before{
  content: "\f073";
  font-family: 'FontAwesome';
  display: block;
  font-size: 18px;
  color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  padding: 16px 18px;
  background: #F1F1F1;
  margin-right: 10px;
}
.bradfield-event-date .event_description{
  border: none!important;
  background-color: transparent;
  background-color: #fff!important;
}
.bradfield-event-date .evo_card_organizer_name a{
    font-family: 'Roboto Regular';
}
.bradfield-event-date .evo_card_organizer_name a:hover .evo_card_organizer_contact{
    text-decoration: underline;
}
.bradfield-event-date .desc_trig{
  min-height: auto!important;
}
.bradfield-event-date .evocard_box {
  background-color: transparent!important;
  border-radius: 0!important;
}
.bradfield-event-date .evo_eventcard_time_t{
  margin-bottom: 24px!important;
  align-items: center;
  font-size: 18px;
  line-height: 183%;
  font-family: 'Roboto Medium';
  color: #444;
}
.bradfield-event-date .evocard_box.time{
  margin: 0!important;
}
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_image{
  display: none!important;
}
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name{
  display: flex!important;
  align-items: baseline;
  margin-top: 0!important;
  margin-left: -10px!important;
}

@media only screen and (max-width: 480px) {
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name{
  margin-left: -20px!important;
}
}

.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name_t,
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_contact{
  font-size: 16px!important;
  line-height: 150%;
  color: #444;
}
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name_t{
  position: relative;
  padding-left: 40px;
  padding-right: 16px;
}
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name_t::before{
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  display: block;
  position: absolute;
  transform: translate(-30px, -1px);
  font-size: 18px;
  color: #4CAF50;
}
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name_t::after{
  content: "";
  display: block;
  height: 20px;
  width: 1px;
  background-color: #D9D9D9;
  position: absolute;
  right: 0;
  top: 2px;
}
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_contact{
  padding-left: 40px;
}
.bradfield-event-date .evo_metarow_organizer .evo_card_organizer_contact::before{
  content: "\f879";
  font-family: 'evo_FontAwesomeS';
  display: block;
  position: absolute;
  transform: translate(-26px, -2px);
  font-size: 16px;
  color: #4CAF50;
}
.bradfield-event-date .evocard_box.organizer{
  margin-top: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.bradfield-event-date .evocard_box.addtocal{
  margin-top: 24px;
  margin-right: 0!important;
  margin-bottom: 0;
  border-radius: 0!important;
}
.bradfield-event-date .addtocal .evcal_evdata_cell p{
  display: flex!important;
  flex-direction: row-reverse;
  gap: 10px;
}
.bradfield-event-date .addtocal .evcal_evdata_cell a{
  margin: 0;
  padding: 17px 22px!important;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  font-family: 'PT Sans Bold';
  border-width: 1px!important;
  opacity: 1!important;
  text-transform: inherit;
  text-align: center;
}
.bradfield-event-date .addtocal .evcal_evdata_cell a:hover{
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.bradfield-event-date .addtocal .evo_metarow_ICS {
  padding: 0!important;
}
.bradfield-event-date .evcal_eventcard .evcal_evdata_row .evcal_evdata_cell{
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #content-single-event .event-info-block{
    padding: 24px;
  }
  .event-info-heading{
    flex-wrap: wrap;
  }
  .event-info-heading .event-title{
    font-size: 30px;
    line-height: 110%;
    margin-bottom: 16px;
  }
  .event-info-heading #event-btn-buy-ticket{
    margin-bottom: 16px;
    padding: 12px 24px;
    font-family: 'PT Sans Bold';
  }
  .bradfield-event-date .evocard_row{
    align-items: inherit;
  }
  .bradfield-event-date .evo_eventcard_time_t{
    margin-right: 0!important;
    font-size: 16px;
    line-height: 150%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
  }
  .bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name{
    padding-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  .bradfield-event-date .addtocal .evcal_evdata_cell a{
    padding: 12px!important;
  }
  .bradfield-event-date .evo_metarow_organizer .evcal_evdata_cell{
    display: flex;
    justify-content: center;
  }
  .bradfield-event-date .evocard_box.organizer,
  .bradfield-event-date .evocard_box.addtocal{
    margin-top: 18px;
  }
  .bradfield-event-date .repeats .evo_repeat_series_dates span{
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 14px;
  }
}
/* /custom layout Info EventON */

/* Custom thumbnail Event */
.bradfield-event-thumbnail{
  background-color: #fff;
}
.bradfield-event-thumbnail .eventon_list_event {
  margin-bottom: 0;
}
.bradfield-event-thumbnail .ajde_evcal_calendar {
  padding-bottom: 0;
}
.bradfield-event-thumbnail .event_description.evcal_eventcard,
.bradfield-event-thumbnail .evcal_evdata_row,
.bradfield-event-thumbnail .evocard_row{
  padding: 0!important;
}
.bradfield-event-thumbnail .evocard_box{
  margin: 0;
  border-radius: 0;
  border: 0!important;
}
.bradfield-event-thumbnail #evcal_list,
.bradfield-event-thumbnail .eventon_list_event,
.bradfield-event-thumbnail .evo_metarow_directimg,
.bradfield-event-thumbnail .evcal_evdata_row,
.bradfield-event-thumbnail .evo_metarow_directimg img
{
  border-radius: 0!important;
}
.bradfield-event-thumbnail .evo_metarow_directimg img{
  padding-bottom: 12px;
}
.bradfield-event-thumbnail .eventon_list_event {
  margin-bottom: 0!important;
}
.bradfield-event-thumbnail .eventon_events_list .eventon_list_event .event_description{
  border: none!important;
}
.bradfield-event-thumbnail .evocard_row .evocard_box{
  background-color: #fff!important;
}
/* /Custom thumbnail Event */

/* Custom Event detail */
.bradfield-event-detail .desc_trig_outter{
  display: none!important;
}
.bradfield-event-detail .ajde_evcal_calendar{
  padding-bottom: 0;
}
.bradfield-event-detail #evcal_list .eventon_list_event{
  margin-bottom: 0!important;
}
.bradfield-event-detail .eventon_list_event .event_description{
  border: none!important;
}
.bradfield-event-detail .eventon_desc_in:after{
  display: none;
}
.bradfield-event-detail .eventon_desc_in{
  height: auto!important;
  padding: 50px;
}
.bradfield-event-detail .eventon_desc_in > *:last-child{
  margin-bottom: 0!important;
}
.bradfield-event-detail .event_description.evcal_eventcard{
  padding-bottom: 0;
}
.bradfield-event-detail .evcal_evdata_icons,
.bradfield-event-detail .evcal_evdata_icons i,
.bradfield-event-detail .eventon_shad_p,
.bradfield-event-detail .evo_h3{
  display: none!important;
}
.bradfield-event-detail .evcal_evdata_row,
.bradfield-event-detail .evocard_row{
  padding: 0;
}
.bradfield-event-detail .evocard_box{
  margin-right: 0;
  background-color: #fff;
}
.bradfield-event-detail .event_description.evcal_eventcard{
  padding-top: 0;
}
.bradfield-event-detail .evcal_eventcard .evcal_evdata_row .evcal_evdata_cell{
  margin: 0!important;
  padding: 0!important;
}
/* Style content Events */
.bradfield-event-detail{
  font-family: 'Roboto Regular';
}
.bradfield-event-detail .eventon_desc_in p,
.bradfield-event-detail .eventon_desc_in li,
.bradfield-event-detail .eventon_desc_in td,
.bradfield-event-detail .eventon_desc_in a
{
  font-family: 'Roboto Regular'!important;
  color: #444!important;
}

.bradfield-event-detail .eventon_desc_in h1,
.bradfield-event-detail .eventon_desc_in h2,
.bradfield-event-detail .eventon_desc_in h3,
.bradfield-event-detail .eventon_desc_in h4,
.bradfield-event-detail .eventon_desc_in h5,
.bradfield-event-detail .eventon_desc_in h6,
.bradfield-event-detail .eventon_desc_in table th{
  font-family: 'Roboto Bold'!important;
  color: #444!important;
}

.bradfield-event-detail .eventon_desc_in p{
  padding: 0!important;
  margin-bottom: 32px!important;
  font-size: 18px!important;
  line-height: 183%!important;
}
.bradfield-event-detail .eventon_desc_in ul{
  margin-left: 40px!important;
  margin-bottom: 32px!important;
}
.bradfield-event-detail .eventon_desc_in ul li{
  padding-bottom: 12px!important;
  padding-left: 12px;
  font-size: 18px!important;
  line-height: 183%!important;
}
.bradfield-event-detail .eventon_desc_in ul li::marker{
  content: "\f00c";
  font-size: 18px;
  font-family: 'evo_FontAwesomeS';
  color: #4CAF50;
}

@media only screen and (max-width: 767px) {
  .bradfield-event-detail .eventon_desc_in{
    padding: 24px;
  }
  .bradfield-event-detail .eventon_desc_in p{
    margin-bottom: 24px!important;
    font-size: 16px!important;
    line-height: 170%!important;
  }
  .bradfield-event-detail .eventon_desc_in ul{
    margin-left: 8px!important;
    margin-bottom: 24px!important;
  }
  .bradfield-event-detail .eventon_desc_in ul li{
    padding-bottom: 4px!important;
    padding-left: 8px;
    font-size: 16px!important;
    line-height: 170%!important;
  }
  .bradfield-event-detail .eventon_desc_in ul li::marker{
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .bradfield-event-date .event_description .evo_eventcard_time_t::before{
  font-size: 16px;
  width: 42px;
  height: 42px;
  }
  .bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name_t{
    font-size: 14px!important;
  }
  .bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name_t::after{
    top: -1px;
  }
  .bradfield-event-date .evo_metarow_organizer .evo_card_organizer_contact{
    font-size: 14px!important;
  }
  .bradfield-event-date .evo_metarow_organizer .evo_card_organizer_name_t::before{
    font-size: 16px;
  }
  .bradfield-event-date .evo_metarow_organizer .evo_card_organizer_contact::before{
    font-size: 14px;
  }
}

/* /Custom Event detail */
